* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width {
    padding: 0px 80px;
    margin: auto;
}

/* navbar */
.body {
    margin: 0px;
    padding: 0px;
}
.navbar {
    position: fixed;
    width: 100%;
}
.navbar.nav-bg {
    background: rgb(33, 135, 231);
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: white;
    font-size: 40px;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.menu ul li a:hover {
    color: crimson;
}

/* home */
.home {
    display: flex;
    background: url("images/laptop.webp") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
/* .home .max-width {
    margin: auto 0 auto 40px;
} */
.home .hello {
    font-size: 25px;
}
.home .name {
    font-size: 52px;
}
.home .intro {
    font-size: 30px;
}
.home .intro span {
    color: aqua;
}