* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.max-width {
    padding: 0px 80px;
    margin: auto;
}

/* ...................navbar.................. */
.body {
    margin: 0px;
    padding: 0px;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    transition: all 0.3s ease;
}
.navbar.nav-bg {
    padding: 0;
    background: rgb(33, 135, 231);
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: white;
    font-size: 40px;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.menu ul li a:hover {
    color: crimson;
}

/* .................home.................. */
.home {
    display: flex;
    background: url("images/laptop.webp") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
/* .home .max-width {
    margin: auto 0 auto 40px;
} */
.home .hello {
    font-size: 25px;
}
.home .name {
    font-size: 52px;
}
.home .intro {
    font-size: 30px;
}
.home .intro span {
    color: aqua;
}

/* ...............about................ */
.about .text-about {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding: 35px auto 40px auto;
    margin: 35px auto 40px auto;
}
.about .about-content {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}
.about .about-content .left {
    width: 40%;
}
.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 20px;
}
.about .about-content .right {
    width: 60%;
}
.about .about-content .right .text-1 {
    font-size: 24px;
    margin: 12px auto;
}
.about .about-content .right .text-1 span {
    color: aqua;
    font-size: 28px;
}
.about .about-content .right .text-2 {
    font-size: 20px;
}